
    <div class="list">
        <label class="item item-input">
            <i class="fa fa-inr placeholder-icon"></i>
            <input type="text" numbers-only="numbersOnly" ng-model="expence.ammount" name="ammount" placeholder="Today's expences ammount" required>
        </label>
        <label class="item item-input">
            <input type="text" name="title" ng-model="expence.title" placeholder="Title ( eg : Dinner)" required>
        </label>
        <label class="item item-input">
            <textarea ng-model="expence.note" name="note" placeholder="Short note about expence(s)" required></textarea>
        </label>
    </div>
