<ion-view view-title="Expence Details">
    <ion-content>
        <div ng-show="allExpences.length == 0" class="center-content" style="width:200px;text-align:center">
            <i class="ion-happy-outline" style="font-size:40px;color:#1E90FF"></i>
            <br>
            <span>No more expences to view.</span>
        </div>
        <ion-list ng-show="allExpences.length > 0" ng-repeat="expence in allExpences | filter : calculateDayTotal">
            <ion-item class="item item-divider item-calm item-icon-right" ng-click="editDayExpences(expence.date)">
                {{expence.date}}
                <i class="fa fa-inr placeholder-icon" style="color:#000000;float:right">&nbsp;{{expence.dayTotal}}</i>
                <!-- <i class="ion-android-more-vertical" style="float:right" ng-click="editDayExpences()"> -->
            </ion-item>
            <ion-item class="item-remove-animate  item-icon-right" ng-repeat="exp in expence.expences track by $index" type="item-text-wrap" href="#/tab/chats/">
                <h2>{{exp.title}}</h2>
                <div class="row">
                    <p class="col-33"> <i class="fa fa-inr placeholder-icon"></i>{{exp.ammount}}</p>
                    <p class="col-67">{{exp.note}}</p>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-royal" ng-click="update(expence.date,exp)" ng-hide="readOnlyMode">
                    Update
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(expence.date, exp.id)" ng-hide="readOnlyMode">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
